
@mixin texto-animado(
  $color1: #ff0000,
  $color2: #ff7300,
  $color3: #ffeb00,
  $color4: #47ff00,
  $color5: #339353,
  $color6: #4d6be2,
  $color7: #8a00ff,
  $color8: #ff5050
) {
  color: transparent;
  background-image: linear-gradient(45deg, $color1, $color2, $color3, $color4, $color5, $color6, $color7, $color8);
  background-size: 300% 300%;
  background-clip: text;
}